*{
	padding:0;
	margin:0;
}

.container{
	margin: 0 auto;
	position: relative;
	overflow:hidden;
}
.container > img{
	display:block;
    margin:0 auto;
    position: absolute;
    left: 0px;
    top: 0px;
	filter:blur(20px);
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	-o-filter: blur(20px);

	z-index: 0;
}
.container > canvas{
	display:block;
    margin:0 auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    
}
.button{
	position: absolute;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	z-index: 200;
	border: none;
}
.button.reset{
	left: 10px;
	bottom: 40px;
	background: #058;
}
.button.reset:hover{
	background: #047;
}
.button.show{
	right: 10px;
	bottom: 40px;
	background: #085;
}
.button.show:hover{
	background: #074;
}